<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transactions</title>
  <link rel="stylesheet" href="transactions.css">
</head>

<body>
  <nav class="navbar">
    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="/home" class="navbar__link">Home</a>
      </li>
      <li class="navbar__item">
        <a href="/transactions" class="navbar__link navbar__link--active">Transactions</a>
      </li>
      <li class="navbar__item">
        <a href="/goals" class="navbar__link">Goals</a>
      </li>
      <li class="navbar__item">
        <a href="/profile" class="navbar__link">Profile</a>
      </li>
    </ul>
  </nav>

  <header class="header">
    <h1 class="header__title">Transactions</h1>
  </header>

  <main class="main">
    <form action="/transactions/addTransactions" method="POST" class="main__form">
      <div class="main__form-wrap">
        <label for="name" class="main__form-label">Name</label>
        <input type="text" id="name" class="main__form-input" name="name" placeholder="Name" required>
      </div>

      <div class="main__form-wrap">
        <label for="amount" class="main__form-label">Amount</label>
        <input type="number" id="amount" class="main__form-input" name="amount" placeholder="Amount" required>
      </div>

      <div class="main__form-wrap">
        <label for="category" class="main__form-label">Category</label>
        <select id="category" class="main__form-select" name="category" required>
          <% categories.forEach(category => { %>
          <option value="<%= category.name %>"><%= category.name %></option>
          <% }) %>
        </select>
      </div>

      <button class="main__form-delete">Delete category</button>
      <div class="main__form-wrap">
        <label for="type" class="main__form-label">Type</label>
        <select id="type" class="main__form-select" name="type" required>
          <option value="income">Income</option>
          <option value="expense">Expense</option>
        </select>
      </div>

      <% if (message) { %>
      <div class="main__form-error">
        <%= message %>
      </div>
      <% } %>

      <button type="submit" class="main__form-submit">Add Transaction</button>
    </form>

    <form action="/transactions/addCategory" method="POST" class="main__form">
      <div class="main__form-wrap">
        <label for="newCategory" class="main__form-label">Add New Category</label>
        <input type="text" id="newCategory" class="main__form-input" name="categoryName" placeholder="Category Name" required>
      </div>

      <% if (categoryMessage) { %>
      <div class="main__form-error">
        <%= categoryMessage %>
      </div>
      <% } %>

      <button type="submit" class="main__form-submit">Add Category</button>
    </form>

    <section class="transactions">
      <h2>All Transactions</h2>

      <form action="/transactions" method="GET" class="main__form">
        <div class="main__form-wrap">
          <label for="categoryFilter" class="main__form-label">Filter by Category</label>
          <select id="categoryFilter" class="main__form-select" name="category">
            <option value="">All Categories</option>
            <% categories.forEach(category => { %>
            <option value="<%= category.name %>" <%= category.name === selectedCategory ? 'selected' : '' %>><%= category.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="main__form-wrap">
          <label for="typeFilter" class="main__form-label">Filter by Type</label>
          <select id="typeFilter" class="main__form-select" name="type">
            <option value="">All Types</option>
            <option value="income" <%= selectedType === 'income' ? 'selected' : '' %>>Income</option>
            <option value="expense" <%= selectedType === 'expense' ? 'selected' : '' %>>Expense</option>
          </select>
        </div>
        <button type="submit" class="main__form-submit">Filter</button>
      </form>

      <div class="transactions__list">
        <% transactions.forEach(transaction => { %>
        <div class="transaction-item">
          <h3 class="transaction-item__name"><%= transaction.name %></h3>
          <p class="transaction-item__amount">
            <% if (transaction.type == "income") { %>
            <span class="income">+<%= transaction.amount %></span>
            <% } else { %>
            <span class="expense">-<%= transaction.amount %></span>
            <% } %>
          </p>
          <p class="transaction-item__category">Category: <%= transaction.category %></p>
          <p class="transaction-item__date">Date: <%= transaction.createdAt %></p>

          <form action="/transactions/deleteTransaction" method="POST">
            <input type="hidden" name="transactionId" value="<%= transaction._id %>">
            <button type="submit" class="transaction-item__delete-button">✖️ </button>
          </form>

          <form action="#" method="POST" class="editTransactionForm">
            <input type="hidden" name="transactionId" value="<%= transaction._id %>">
            <button type="button" class="transactions__edit" data-id="<%= transaction._id %>" data-name="<%= transaction.name %>" data-amount="<%= transaction.amount %>" data-category="<%= transaction.category %>" data-type="<%= transaction.type %>">✏️</button>
          </form>

        </div>
        <% }) %>
      </div>
    </section>

    <div id="editModal" class="modal">
      <div class="modal-content">
        <span class="close">✖️</span>
        <h2>Edit Transaction</h2>
        <form action="/transactions/updateTransaction" method="POST" id="editTransactionForm">
          <input type="hidden" id="editTransactionId" name="transactionId">
          <label for="editName">Name</label>
          <input type="text" id="editName" name="name" required>

          <label for="editAmount">Amount</label>
          <input type="number" id="editAmount" name="amount" required>

          <label for="editCategory">Category</label>
          <select id="editCategory" name="category">
            <% categories.forEach(category => { %>
            <option value="<%= category.name %>"><%= category.name %></option>
            <% }) %>
          </select>

          <label for="editType">Type</label>
          <select id="editType" name="type">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
          </select>

          <button type="submit">Update</button>
        </form>
      </div>
    </div>

  </main>

  <script>
    document.querySelectorAll('.transactions__edit').forEach(button => {
      button.addEventListener('click', () => {
        document.getElementById('editTransactionId').value = button.dataset.id;
        document.getElementById('editName').value = button.dataset.name;
        document.getElementById('editAmount').value = button.dataset.amount;
        document.getElementById('editCategory').value = button.dataset.category;
        document.getElementById('editType').value = button.dataset.type;
        document.getElementById('editModal').style.display = "block";
      });
    });

    document.querySelector('.close').addEventListener('click', () => {
      document.getElementById('editModal').style.display = "none";
    });

    window.onclick = (event) => {
      if (event.target == document.getElementById('editModal')) {
        document.getElementById('editModal').style.display = "none";
      }
    };
  </script>

</body>

</html>